body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #0d0a4b, #3a6d8c);
    min-height: 100vh;
    color: #F0FBF7;
}

.title {
    font-size: 40px;
    margin: 30px 0 10px;
    color: #00ffff;
    text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff;
    text-align: center;
}

#Horloge {
    margin: 20px 0;
    padding: 12px 24px;
    font-size: 18px;
    color: #00ffff;
    background-color: #0d0a4b;
    border: 2px solid #00ffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px #00ffff, inset 0 0 5px #00ffff;
    font-family: 'Orbitron', sans-serif;
    width: 220px;
    outline: none;
    /* pointer-events: none;  */
}


.map {
    width: 90%;
    max-width: 1000px;
    height: 500px;
    margin: 20px 0;
    border-radius: 15px;
    /* overflow: hidden; */
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    border: 2px solid rgba(0, 255, 255, 0.4);
}

.button {
    margin: 20px;
    padding: 12px 24px;
    font-size: 18px;
    color: #0d0a4b;
    background: #00ffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 15px #00ffff, inset 0 0 5px #0ff;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #0ff;
    box-shadow: 0 0 25px #0ff, inset 0 0 10px #00f0f0;
    transform: scale(1.05);
}

.detail{
    display: inline-flex;
    justify-content: space-between;
    gap : 20px;
    
}

.coordinates {
    text-align: start;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #F0FBF7;
    text-shadow: 0 0 5px #00f0f0;
}

span {
    color: #ffffff;
    font-weight: 400;
}
